<div class="container" id="contact">
  <h5 class="card-title title text-center pb-5 pt-5">Contact Me</h5>
  <div class="card-group">
    <div class="card text-center mb-3">
      <div class="card-body">
        <h5 class="card-title"><i class="fa-solid fa-phone text-white"></i></h5>
        <span class="text-center">Phone</span>
        <p class="card-text text-white">
          <a href="https://wa.me/201033306585" target="_blank" class="text-white">+201033306585</a>
        </p>
      </div>
    </div>
    <div class="card text-center mb-3">
      <div class="card-body">
        <h5 class="card-title"><i class="fa-solid fa-envelope text-white"></i></h5>
        <span class="text-center">Email</span>
        <a class="card-text text-white d-block" href="mailto:zahermohmed555@gmail.com" target="_blank">zahermohmed555&#64;gmail.com</a>
      </div>
    </div>
    <div class="card text-center mb-3">
      <div class="card-body">
        <h5 class="card-title"><i class="fa-brands fa-linkedin-in text-white"></i></h5>
        <span class="text-center">Linkedin</span>
        <p class="card-text">
          <a href="https://www.linkedin.com/in/zaherelsersy555/" target="_blank" class="text-white">zaherelsersy555</a>
        </p>
      </div>
    </div>
    <div class="card text-center mb-3">
      <div class="card-body">
        <h5 class="card-title"><i class="fa-brands fa-github text-white"></i></h5>
        <span class="text-center">Github</span>
        <p class="card-text">
          <a href="https://github.com/zaher555/" target="_blank" class="text-white">zaherelsersy555</a>
        </p>
      </div>
    </div>
  </div>

</div>
