<div class="container" id="about">
  <div class="card pt-5 pb-5">
    <div class="card-body">
      <h5 class="card-title text-center pb-5">About Me</h5>
      <p class="card-text text-white">
        As a passionate and driven Junior Fullstack PHP Web Developer, I specialize in creating dynamic and responsive web applications. With a solid foundation in PHP, HTML, CSS, and JavaScript, I bring a keen eye for detail and a commitment to delivering high-quality code.
      </p>
    </div>
  </div>
  <hr>
</div>
