<div class="container pb-5" id="projects">
  <h5 class="card-title title text-center pb-5 pt-5">My Projects</h5>
  <div class="card-group">
    <div class="card">
      <img src="e-commerce-illustration_1168-341.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
    </div>
  </div>
  <hr>
</div>
