<div class="container pt-5" id="home">
  <div class="card mb-3 pb-5 pt-5">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Hello!</h5>
          <div class="card-text text-white text">
            I'm <span>zaher<br>
            Elsersy</span>
          </div>
          <p class="card-text text-white">{{displayedText}}</p>
          <a href="https://drive.google.com/file/d/10UdgDeij6GYD04fSlacQZ8W153KWcu7Q/view?usp=sharing" class="resume pt-2 pb-2 rounded" target="_blank">My Resume</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="image">
          <img src="profile1.png" class="img-fluid rounded-start" alt="...">
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
